@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
.font-italiana {
  font-family: 'Italiana', serif;
}


body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }
.finisher-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* biar tidak blok klik */
}

    .content {
      position: relative;
      z-index: 10;
      min-height: 100vh;
      color: white;
      text-align: center;
    }
    footer {
    position: relative;
    z-index: 10;
    background: rgba(0,0,0,0.6); /* biar jelas terlihat */
    color: white;
}